# Core
Flask==2.0.3
Werkzeug==2.0.3
python-dotenv==0.19.2

# Database
pymongo==3.12.3
dnspython==2.1.0

# Machine Learning
tensorflow-cpu==2.10.1
protobuf==3.19.5
opencv-python-headless==4.5.5.64
numpy==1.23.5
Pillow==9.1.1
scikit-learn==1.1.1
h5py==3.7.0
keras==2.10.0

# Web
Flask-CORS==3.0.10
python-multipart==0.0.5
gunicorn==20.1.0

# Fix for gevent and zope.event issues
gevent==21.12.0
greenlet==1.1.2
zope.event==4.5.0
zope.interface==5.4.0

# Required for Render deployment
setuptools==65.5.0
wheel==0.38.4

# Utilities
requests==2.27.1
tqdm==4.64.0
pandas==2.2.2
python-dateutil==2.8.2
python-pptx==0.6.21
reportlab==3.6.9
joblib==1.1.0

# AI/ML APIs
google-generativeai==0.3.2